* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.yellow {
  background-color: yellow;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  position: absolute;
  z-index: 5;
}

.red {
  background-color: red;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  z-index: 4;
}

.blue {
  background-color: blue;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
}

.black {
  background-color: black;
  height: 375px;
  width: 375px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}
